body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-shadow: 1px 2px rgba(0,0,0,0.1);

  #particles-js{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #4caf50;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: -1;
  }

  .container {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 15px;

    section {
      margin: 40px 0;
      text-align: center;

      &.photo {
        .photo-wrapper {
          width: 200px;
          height: 200px;
          border: 10px solid #bdbdbd;
          border-radius: 50%;
          margin: 0 auto;
          overflow: hidden;
          box-sizing: content-box;
          transition: all .5s;
          position: relative;
          box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

          &:before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.5);
            position: absolute;
            transition: all .5s;
          }

          &:hover {
            width: 250px;
            height: 250px;
            border-color: #e57373;
            box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);

            &:before {
              background-color: rgba(0,0,0,.2);
            }
          }

          img {
            width: inherit;
            height: inherit;
          }
        }
      }

      &.name {
        color: #e0e0e0;
      }

      &.biography {
        color: #424242;

        blockquote {
          color: #e0e0e0;
          font-style: italic;
        }
      }

      &.stack {
        color: #424242;

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          color: #e0e0e0;
          font-style: italic;

          li {
            margin: 20px 0;
          }
        }
      }
    }
  }

  * {
    box-sizing: border-box;
  }
}
